<div class="container-fluid">
    <h3>
        League Id: <input class="form-control" type="number" ng-model="leagueInfo.id" ng-model-options="{getterSetter: true}">
    </h3>
    <h3>
        Year: <input class="form-control" type="number" ng-model="leagueInfo.year" ng-model-options="{getterSetter: true}">
    </h3>
    <button type="button" class="btn btn-primary" ng-click="refresh()">Refresh</button>

    <br>
    <br>
    <h3 ng-show="league">
        {{league.name}} ({{league.id}})<br>
        <select ng-options="item.year for item in history" ng-model="historyItem" ng-change="changeLeagueYear()"></select>
    </h3>
    <table class="table table-striped" ng-show="standings">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Team</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Ties</th>
                <th>Victory Points</th>
                <th>PF</th>
                <th>PA</th>
                <th>Power Rank</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="team in standings | orderBy:'-vp'">
                <td class="vert-align">{{::$index + 1}}</td>
                <td class="vert-align"><img ng-src="{{::team.icon}}" height="40" width="40">&nbsp;&nbsp;{{::team.name}}</td>
                <td class="vert-align">{{::team.h2hw}}</td>
                <td class="vert-align">{{::team.h2hl}}</td>
                <td class="vert-align">{{::team.h2ht}}</td>
                <td class="vert-align">{{::team.vp}}</td>
                <td class="vert-align">{{::team.pf}}</td>
                <td class="vert-align">{{::team.pa}}</td>
                <td class="vert-align">{{::team.pwr}}</td>
            </tr>
        </tbody>
    </table>
</div>